@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  background: none;
  font: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

#login_form > div > div > div > img {
  background-color: white;
}
